{:deps {
    clj-http {:mvn/version "3.10.0"}
    org.clojure/java.jdbc {:mvn/version "0.7.11"}
    org.jsoup/jsoup {:mvn/version "1.12.1"}
    org.postgresql/postgresql {:mvn/version "42.2.9"}
    digest {:mvn/version "1.4.9"}
    cheshire {:mvn/version "5.9.0"}
}}